# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.swp
*.swo
*~

# Build files
*.o
*.pyc
*.class
*.war